@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");

:root {
  --primary: #232f3e;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #091013;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

#brand-logo {
  width: 180px;
  height: 50px;
  margin: 15px 0;
}

header {
  background: var(--primary);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header a {
  color: var(--light);
  padding: 10px;
}

.padding-none {
  padding: 0;
}

.bodyContainer {
  height: 80vh;
}

.LandingContainer {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/LandingBG.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.divContainer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.LandingLogo {
  width: 20rem;
  margin-bottom: 10vh;
}

.LandingText {
  width: 100%;
  padding: 0 20%;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 10vh;
  font-weight: 300;
  text-align: justify;
}

.LandingBtn {
  background-color: rgb(215, 170, 86);
  width: 100px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10vh;
}

.profileLogo {
  width: 200px;
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: 0.8;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 60%;
  text-align: center;
}

#signup-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
} */

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* journal form styling */

.journal-form,
.signup-form,
.login-form {
  height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: repeating-linear-gradient(45deg, #f9f9f9, transparent 20px);
}

.signup-form {
  height: 85vh;
}

.login-form {
  height: 80vh;
}

.signup-header,
.login-header {
  margin-bottom: 35px;
}

input {
  text-align: center;
}

.inputBox,
.inputBoxBottom {
  position: relative;
  width: 100%;
  margin-bottom: 10%;
}

.inputBox input {
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  background: #47b5ff;
  border-radius: 5px;
  text-align: left;
  outline: none;
  color: #ffffff;
  font-size: 1em;
  transition: 0.5s ease-in-out;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: black;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}

.inputBox input:focus ~ span {
  color: #445d77;
  transform: translateX(30px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background: #ffffff;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  letter-spacing: 0.2em;
}

.inputBox input:focus {
  border: 1px solid #000000;
}

.inputBoxMessage {
  height: 120px;
}

.inputBoxBottom {
  margin-bottom: 3%;
}

.twenty-wide {
  width: 20rem;
}

.five-margin {
  margin-bottom: 5%;
}

/* The input buttons */

.inputBoxBtnContainer {
  text-align: center;
}

.inputBoxBtn {
  text-align: center;
  background-color: #47b5ff;
  border: 0;
  width: 8rem;
  height: 2.25rem;
  padding: 1%;
  color: #ffffff;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  border-radius: 5px;
  letter-spacing: 1.25px;
  margin-bottom: 5%;
}

.inputBoxBtn:hover {
  box-shadow: 10px 10px 20px black;
  transform: translateY(-10px);
  transition: 0.5s ease-in-out;
}

/* The emojis */

ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ul li {
  font-size: xx-large;
}

.mood {
  opacity: 85%;
  transition: 0.5s ease-in-out;
}

.mood:hover {
  opacity: 100%;
  transform: translateY(-10px);
}

/* Journal entries page */

.my-journal-section {
  min-height: 80vh;
  background: repeating-linear-gradient(45deg, #f9f9f9, transparent 20px);
}

.section-header {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.journal-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 60vh;
}

.entry-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 25px;
}

.full-width {
  width: 45%;
  text-align: center;
  background: var(--primary);
  color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
}

.single-entry-card {
  background: #ffffff;
}

.single-entry {
  align-self: start;
  padding: 0 25px;
  width: 55%;
}

.single-entry-card {
  border-radius: 25px;
  box-shadow: 5px 5px 19px black;
  width: 30rem;
  min-height: 25rem;
  text-align: center;
}

.entry-card-header {
  padding: 10px 0;
}

.entry-card-title {
  margin: 10px 0;
}

.weak-text {
  font-weight: 300;
}

.card-text {
  margin: 10px 0;
  text-align: justify;
  padding: 10px 20px;
}

/*  */

footer {
  display: flex;
  align-items: center;
  background: var(--primary);
  color: #ffffff;
  justify-content: center;
  height: 10vh;
  padding: 20px;
  width: 100%;
}

.navClass {
  height: 10vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }

  .landing-logo {
    width: 65%;
  }

  .LandingText {
    padding: 0 40px;
  }

  .signup-form,
  .login-form,
  .journal-form {
    padding: 5vh 0;
    justify-content: flex-start;
  }

  .five-margin {
    margin-bottom: 5vh;
  }

  .twenty-wide {
    width: 75vw;
  }

  form {
    width: 85%;
  }

  .section-header {
    width: 100%;
    text-align: center;
    padding: 5vh 0;
  }

  .journal-group {
    flex-direction: column;
  }

  .entry-group {
    flex-direction: column;
    width: 100%;
  }

  .full-width {
    width: 100%;
    margin-bottom: 2vh;
  }

  .card-text {
    text-align: center;
  }

  .single-entry-card {
    width: 85vw;
  }

  #single-entry-card-text {
    text-align: justify;
  }
}
